.note-item-container{
    padding: 1rem;
    background-color: var(--background-color-2);
    color: var(--color);
    display: flex;
    gap: 1rem;
    border-radius: 8px;
    border: 1px solid grey;


    .note-item-data{
        flex: 1;
        h3{
            margin-bottom: 8px;
        }

    }

    .note-item-menu{
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;
        
        .note-menu-btn{
            padding: 10px 1rem;
            color: var(--color);
        }
    }
}