.theme-btn-container{
    padding: 10px 1rem;
    border-radius: 6px;
    background-color: var(--background-color-2);
    color: var(--color);
    position: absolute;
    bottom: 6rem;
    right: 2rem;
    border: 1px solid grey;
}